//@font-face{
//	font-family: 'OpenSans';
//	src: local('OpenSans'),
//	url('../fonts/OpenSans-Light.eot'),
//	url('../fonts/OpenSans-Light.woff') format('woff'),
//	url('../fonts/OpenSans-Light.woff2') format('woff2'),
//	url('../fonts/OpenSans-Light.ttf') format('truetype');
//	font-weight: 300;
//	font-style: normal;
//	font-display: swap;
//}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');