//colors
$blue:		 			#474575;
$dark-blue: 			#2E2F61;
$violet:				#484FA9;
$light-blue:			#CBD3EE;
$orange: 				#FEAF01;
$dark-orange:			#FF8C02;

$white:					#FFFFFF;
$lightgray:				#F5F5F5;
$dark:					#444444;
$black:					#0A0A0A;



//fonts
$poppins: 				'Poppins', sans-serif;
$arial: 				'Arial', 'Helvetica', sans-serif;


//breakpoints
$br_point_laptop: 		'max-width: 1200px';
$br_point_tablet:		'max-width: 1000px';
$br_point_phone: 		'max-width: 768px';
$br_point_small_phone: 	'max-width: 380px';


$wrapper-max-width: 	1200px;