//colors
$blue:					#0393e8;
$dark-blue:				#0b1d64;
$white:					#ffffff;
$lightgray:				#f5f5f5;
$dark:					#444444;


//fonts
$poppins: 				'Poppins', sans-serif;
$arial: 				'Arial', 'Helvetica', sans-serif;


//breakpoints
$br_point_laptop: 		'max-width: 1200px';
$br_point_tablet:		'max-width: 1000px';
$br_point_phone: 		'max-width: 768px';
$br_point_small_phone: 	'max-width: 380px';


$wrapper-max-width: 		1200px;
