.footer{

}

.footer__copy{
	padding: 15px 0;
	background: $dark-blue;
}

.footer__copy-inner{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.footer__copy-left{
	width: 70%;
	font-family: $arial;
	color: #fff;
	font-size: 13px;
	line-height: 26px;
	font-weight: 400;

	@media ($br_point_phone) {
		width: 100%;
		margin-bottom: 10px;
	}
}

.footer__copy-right{
	width: 30%;

	@media ($br_point_phone) {
		width: 100%;
	}

	img{
		width: 95px;
		height: 95px;
		display: block;
		position: absolute;
		right: 0;
		bottom: -15px;

		@media ($br_point_phone) {
			position: relative;
			right: auto;
			bottom: auto;
		}
	}
}