.header{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 9999;

	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	transition: all 0.5s;
}

.header__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;

	@media ( $br_point_tablet ) {
		height: 90px;
	}
}

.header__logo{
	display: flex;
	align-items: center;
	flex-shrink: 0;
	width: 160px;

	@media ( $br_point_tablet ) {
		width: 120px;
	}

	.header__logo-link{
		display: block;
	}

	.header__logo-img{
		display: block;
		width: 100%;
		height: auto;
	}
}

.header__right{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header__menu{
	.header-menu{
		display: flex;
		align-items: center;

		& > .menu-item{
			margin-left: 30px;
			border-bottom: 2px solid transparent;
		}

		& > .current-menu-item{
			border-bottom: 2px solid $blue;

			a{
				color: $blue;
			}
		}
	}

	.menu-item{
		&:hover{
			a{
				color: $blue;
			}
		}
	}

	.menu-item a{
		font-family: $poppins;
		font-size: 18px;
		font-weight: 800;
		color: #0a0a0a;
		text-transform: uppercase;

		@media ( $br_point_tablet ) {
			font-size: 14px;
		}
	}

	.sub-menu{
		display: none;
	}

}

.header__buttons{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 30px;

	@media ( $br_point_tablet ) {
		margin-left: 15px;
	}
}

.header__button{
	font-family: $poppins;
	font-size: 18px;
	line-height: 1;
	font-weight: 800;
	text-transform: uppercase;
	height: 47px;

	&:hover{
		background: $blue;
		color: #fff;
	}

	@media ( $br_point_tablet ) {
		height: 38px;
		font-size: 14px;
	}
}

.header__phone{
	font-family: $poppins;
	font-size: 18px;
	line-height: 1;
	font-weight: 800;
	height: 47px;
	margin-left: 15px;

	&:hover{
		background: $dark-blue;
		color: #fff;
	}

	@media ( $br_point_tablet ) {
		height: 38px;
		font-size: 14px;
	}
}




