*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
  position: relative;
  background: #fff;
  margin: 0;
  padding: 0 0 0 0;
  overflow-x: hidden;
}

body.top-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-underline-offset: 3px;
}

img {
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0393e8;
  border-color: #0393e8;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  padding: 0 15px;
  border-radius: 2em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--blue {
  background-color: #0393e8;
  border: 1px solid #0393e8;
  color: #fff;
}

.btn--blue:hover {
  background: #fff;
  border-color: #0393e8;
  color: #0393e8;
}

.btn--dark-blue {
  background-color: #0b1d64;
  border: 1px solid #0b1d64;
  color: #fff;
}

.btn--dark-blue:hover {
  background: #fff;
  border-color: #0b1d64;
  color: #fff;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.hamburger-icon {
  width: 28px;
  height: 28px;
  background-image: url("../img/icons/hamburger-icon.svg");
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 120px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 160px;
}

.header__logo .header__logo-link {
  display: block;
}

.header__logo .header__logo-img {
  display: block;
  width: 100%;
  height: auto;
}

.header__right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__menu .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu .header-menu > .menu-item {
  margin-left: 30px;
  border-bottom: 2px solid transparent;
}

.header__menu .header-menu > .current-menu-item {
  border-bottom: 2px solid #0393e8;
}

.header__menu .header-menu > .current-menu-item a {
  color: #0393e8;
}

.header__menu .menu-item:hover a {
  color: #0393e8;
}

.header__menu .menu-item a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #0a0a0a;
  text-transform: uppercase;
}

.header__menu .sub-menu {
  display: none;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 30px;
}

.header__button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  height: 47px;
}

.header__button:hover {
  background: #0393e8;
  color: #fff;
}

.header__phone {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 800;
  height: 47px;
  margin-left: 15px;
}

.header__phone:hover {
  background: #0b1d64;
  color: #fff;
}

.header__phone i {
  margin-right: 8px;
}

.header__navbar-toggle {
  display: none;
  width: 22px;
  height: 22px;
  color: #0a0a0a;
  font-size: 22px;
}

.header__navbar-toggle .fa-times {
  display: none;
}

.header__navbar-toggle.top-open .fa-times {
  display: block;
}

.header__navbar-toggle.top-open .fa-bars {
  display: none;
}

.header__phone-mob {
  display: none;
  width: 100%;
  height: 50px;
  background: #0393e8;
  color: #0b1d64;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  padding: 0 15px;
}

.header__phone-mob span {
  text-transform: capitalize;
  margin-right: 8px;
}

.header__phone-mob .header__phone--mob {
  color: #fff;
  font-weight: 700;
}

.header__phone-mob .header__phone--mob i {
  display: none;
}

.header__menu--mob {
  display: none;
  padding: 10px 15px;
  overflow: hidden;
  background: #0393e8;
  height: calc(100vh - 110px);
  height: calc(100dvh - 110px);
  overflow-y: auto;
}

.header__menu--mob.top-open + .header__phone-mob {
  padding: 5px 0;
  border-top: 1px solid #0b1d64;
}

.header__menu--mob .sub-menu {
  display: none;
}

.header__menu--mob .menu-item {
  padding: 3px 0;
}

.header__menu--mob .menu-item a {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  margin: 15px 0;
}

.header__menu--mob .menu-item.current-menu-item a {
  color: #0b1d64;
}

.footer {
  padding-top: 550px;
}

.footer__copy {
  padding: 15px 0;
  background: #0393e8;
}

.footer__copy-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.footer__copy-left {
  width: 70%;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
}

.footer__copy-right {
  width: 30%;
}

.footer__copy-right img {
  width: 95px;
  height: 95px;
  display: block;
  position: absolute;
  right: 0;
  bottom: -15px;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    max-width: 780px;
  }

  .header__inner {
    height: 90px;
  }

  .header__logo {
    width: 120px;
  }

  .header__menu .menu-item a {
    font-size: 14px;
  }

  .header__buttons {
    margin-left: 15px;
  }

  .header__button {
    height: 38px;
    font-size: 14px;
  }

  .header__phone {
    height: 38px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 100%;
  }

  .header__inner {
    height: 60px;
  }

  .header__menu {
    display: none;
  }

  .header__buttons {
    display: none;
  }

  .header__navbar-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header__phone-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__copy-left {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer__copy-right {
    width: 100%;
  }

  .footer__copy-right img {
    position: relative;
    right: auto;
    bottom: auto;
  }
}