.contacts{
	padding: 80px 0 120px;
	background: #fff;
	overflow-x: hidden;
}

.contacts__inner{
	display: flex;
	justify-content: space-between;
	background: $dark-blue no-repeat;
	color: #fff;
	border-radius: 20px;
	padding: 70px 50px;
	position: relative;

	&:before{
		content: '';
		display: block;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background: #444444;
		opacity: 0.06;
		position: absolute;
		left: -100px;
		top: -50px;
	}
	//
	//&:after{
	//	content: '';
	//	display: block;
	//	width: 100px;
	//	height: 100px;
	//	border-radius: 50%;
	//	background: $blue;
	//	position: absolute;
	//	right: -40px;
	//	bottom: -20px;
	//	box-shadow: 0 0 20px 12px rgba(0,0,0,0.1);
	//}

	.contacts__circle{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: $dark-blue;
		position: absolute;
		right: -80px;
		bottom: 60px;
		box-shadow: 0 0 20px 12px rgba(0,0,0,0.05);
	}
}

.contacts__item{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% / 3);
	padding: 0 20px;
	font-family: $arial;

	p{
		font-family: $arial;
		color: #fff;
		font-size: 26px;
		line-height: 36px;
		font-weight: 600;
	}

	a{
		font-family: $poppins;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -1px;

		&:hover {
			text-decoration: underline;
		}
	}

	.btn{
		font-family: $poppins;
		font-weight: 600;
		font-size: 22px;
		min-width: 200px;

		&:hover {
			text-decoration: none;
		}
	}
}

.contacts__item-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	margin-bottom: 20px;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	border-radius: 100%;
	background: $orange;
	box-shadow: 0 0 20px 12px rgba(0,0,0,0.1);

	.fa{
		font-size: 26px;
	}
}

.contacts__button{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: inherit;
}



@media ( $br_point_tablet ) {
	.contacts__inner{
		padding: 40px;
	}

	.contacts__item{
		padding: 0 10px;
	}

	.contacts__button{
		width: 20%;
		align-items: flex-start;
	}

	.contacts__item a{
		font-size: 24px;
	}
}



@media ($br_point_phone) {
	.contacts__inner{
		flex-wrap: wrap;
		padding: 40px 20px;
	}

	.contacts__item{
		width: 100%;
		margin-bottom: 30px;

		p {
			font-size: 22px;
			line-height: 32px;
		}

		a {
			font-size: 18px;
			line-height: 22px;
		}
	}

	.contacts__button{
		margin-bottom: 0;
		justify-content: flex-start;
	}
}