.contacts{
	padding: 80px 0 120px;
	background: #fff;
	overflow-x: hidden;
}

.contacts__inner{
	display: flex;
	justify-content: space-between;
	background: $dark-blue url('../img/contacts-background.png') 85% -40px no-repeat;
	color: #fff;
	border-radius: 20px;
	padding: 55px 70px;
	position: relative;

	&:before{
		content: '';
		display: block;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background: #444444;
		opacity: 0.06;
		position: absolute;
		left: -100px;
		top: -50px;
	}

	&:after{
		content: '';
		display: block;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: $blue;
		position: absolute;
		right: -40px;
		bottom: -20px;
		box-shadow: 0 0 20px 12px rgba(0,0,0,0.1);
	}

	.contacts__circle{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: $dark-blue;
		position: absolute;
		right: -80px;
		bottom: 60px;
		box-shadow: 0 0 20px 12px rgba(0,0,0,0.05);
	}
}

.contacts__item{
	width: calc(100% / 3);
	padding: 0 20px;
	font-family: $arial;

	p{
		font-family: $arial;
		color: #fff;
		font-size: 20px;
		line-height: 34px;
	}

	a{
		font-family: $poppins;
		font-size: 30px;
		line-height: 45px;
		letter-spacing: -1px;
	}

	.btn{
		font-family: $poppins;
		font-weight: 600;
		font-size: 22px;
		min-width: 200px;
	}
}

.contacts__item-icon{
	font-size: 35px;
	margin-bottom: 35px;

	.fa{
		font-size: 35px;
	}
}

.contacts__button{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: inherit;
}



@media ( $br_point_tablet ) {
	.contacts__inner{
		padding: 40px;
	}

	.contacts__item{
		padding: 0 10px;
	}

	.contacts__item--email{
		width: 40%;
	}

	.contacts__item--phone{
		width: 40%;
	}

	.contacts__button{
		width: 20%;
		align-items: flex-start;
	}

	.contacts__item a{
		font-size: 24px;
	}
}



@media ($br_point_phone) {
	.contacts__inner{
		flex-wrap: wrap;
	}

	.contacts__item{
		width: 100%;
		text-align: center;
		&:not(:last-of-type){
			margin-bottom: 35px;
		}
	}

	.contacts__item-icon{
		margin-left: auto;
		margin-right: auto;
	}

	.contacts__item a{
		font-size: 30px;
	}

	.contacts__button{
		align-items: center;

		a{
			margin-left: auto;
			margin-right: auto;
		}
	}
}