.cta{
	padding: 120px 0 80px;
	background: #fff;
	overflow-x: hidden;
}

.cta__inner {
	background: $dark-blue;
	color: #fff;
	border-radius: 20px;
	padding: 45px 240px 45px 50px;
	position: relative;
}

.cta__image {
	width: 350px;
	height: 350px;
	position: absolute;
	right: 30px;
	top: -25%;

	img{
		width: 100%;
		height: 100%;
		object-fit: cotain;
	}
}

.cta__title{
	font-family: $poppins;
	color: #fff;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: -1.5px;
	font-weight: 400;
	margin: 0 0 20px;
}

.cta__description{
	font-family: $arial;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #fff;

	p{
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #fff;
	}
}

.cta__bottom{
	margin-top: 35px;
}

.cta__button-title{
	font-family: $poppins;
	font-size: 45px;
	line-height: 50px;
	color: #fff;
	margin-bottom: 40px;
}

.cta__button{
	position: relative;

	//&:before{
	//	content: '\f095';
	//	display: block;
	//	font-family: 'FontAwesome';
	//	font-size: 30px;
	//	color: #fff;
	//	margin-right: 10px;
	//}

	&:hover:before{
		color: $blue;
	}
}



@media ( $br_point_laptop ){
	.cta__image {
		width: 330px;
		height: 330px;
		right: 0;
		top: -50px;
	}
}


@media ( $br_point_tablet ){
	.cta{
		padding: 80px 0;
	}

	.cta__inner{
		padding: 30px 200px 30px 30px;
	}

	.cta__title{
		font-size: 24px;
		line-height: 36px;
	}

	.cta__image {
		width: 260px;
		height: 260px;
		right: -60px;
		top: 50%;
		transform: translateY(-50%);
	}

	.cta__button-title{
		font-size: 30px;
		line-height: 34px;
	}
}



@media ( $br_point_phone ){
	.cta{
		padding-top: 100px;
	}

	.cta__inner{
		padding: 30px 30px 30px 30px;
	}

	.cta__title{
		text-align: center;
	}

	.cta__description{
		text-align: center;
	}

	.cta__image {
		position: relative;
		width: 200px;
		height: 200px;
		right: auto;
		left: auto;
		top: auto;
		transform: translateY(0);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	.cta__button-title{
		text-align: center;
		font-size: 26px;
		line-height: 30px;
		margin-right: 0;
	}

	.cta__button{
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}
}