.hero{
	background: #fff;
}

.hero__inner{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	position: relative;
}

.hero__content{
	max-width: 530px;
	width: 100%;
	margin-right: 50px;
	margin-left: 100px;
	padding: 50px 0;
}

.hero__title{
	font-family: $poppins;
	color: $blue;
	font-size: 90px;
	line-height: 1;
	font-weight: bold;
	letter-spacing: -3px;
	margin: 0 0 20px;
	padding: 0;

	span{
		color: $dark-blue;
	}
}

.hero__description{
	margin-bottom: 10px;
	font-family: $arial;
	color: $dark;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;

	p{
		color: $dark;
		font-size: 16px;
		line-height: 30px;
		margin: 0;
	}
}

.hero__btn{
	width: 200px;
	height: 72px;
	font-size: 22px;
	line-height: 1.2;
}

.hero__image{
	width: 50%;
	height: auto;
	flex-shrink: 0;
	position: relative;

	img{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.hero__guaranty{
	display: block;
	width: 240px;
	height: 240px;
	position: absolute;
	left: 35%;
	bottom: -100px;
	z-index: 1;
	background-color: rgb(3 14 58 / 50%);
	backdrop-filter: blur(19px) brightness(100%);
	-webkit-backdrop-filter: blur(19px) brightness(100%);
	border-radius: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}




@media ( $br_point_laptop ) {
	.hero__title{
		font-size: 60px;
	}

	.hero__btn{
		height: 50px;
	}

	.hero__guaranty{
		width: 120px;
		height: 120px;
	}
}



@media ( $br_point_phone ) {
	.hero{
		overflow-x: hidden;
	}

	.hero__inner{
		flex-direction: column;
		padding-left: 15px;
		padding-right: 15px;
	}

	.hero__content{
		width: 100%;
		margin: 0;
		padding-top: 100px;
	}

	.hero__image{
		width: calc(100% + 30px);
		margin-right: -30px;
	}

	.hero__guaranty{
		width: 90px;
		height: 90px;
		bottom: -20px;
		right: 15px;
		left: auto;
	}
}